{%  extends 'plantilla.html'%}

{% block content %}

    <h2 class="text-center">PRODUCTOS</h2>

    <table class="table table-info w-75 mx-auto">
        <tr class= "table-dark">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th></th>
        </tr>
        {% for producto in productos%}
            <tr>
                  <td>{{producto.nombre}}</td>
                  <td>{{producto.precio}}</td> 
                  <td>{{producto.descripcion}}</td> 
                  <td>{{producto.nombre}}</td>    
            </tr>
    {% endfor %}
    </table>

{%endblock%}