{%  extends 'plantilla.html'%}

{% block content %}

    <h2 class="text-center">PRODUCTOS</h2>


    <form class="w-50 shadow mx-auto p-4 m-3" method="post" action="productos/guardar">
        {%csrf_token %}
        Nombre: <input type="text" name="nombre" class="form-control my-2" required/>

        Precio: <input type="number" name="precio" class="form-control my-2" required />

        Descripción: 
        <textarea class="form-control my-2" name="description">
             
        </textarea>

        <input type="submit" value="Guardar" class="btn btn-primary"/>

    </form>

    

{%endblock%}